@import "src/common/styles/sass/mixins";
@import "src/common/styles/sass/variables";

.projectsBlock {
    background-color: $bgPrimary;
    .projectsContainer {
        @include container();
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        .projects {
            margin-bottom: 170px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            @media screen and (max-width: 1129px) {
                justify-content: center;
            }
        }
    }
}
