.projectsBlock {
    min-height: 50vh;
    background-color: olive;
}
.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.title {
    background-color: orangered;
}
.projects {
    border: 1px dashed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}