@import "../../styles/sass/variables";

.title {
    margin: 70px 0 100px;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        background: $primaryColor;
        width: 70px;
        height: 4px;
        /*строго по центру*/
        transform: translate(-50%, 50%);
        left: 50%;
    }
    h2 {
        font-family: $TitleFontFamily;
        margin: 0 0 10px;
        font-weight: 300;
        text-transform: capitalize;
        font-size: 45px;
        color: $textColor;
        line-height: 1.1;
    }
}