.skillsBlock {
    background-color: lightblue;
    min-height: 60vh;
}
.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.skills {
    border: 1px dashed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1129px){
    .skills {
        justify-content: center;
    }
}