@import "src/common/styles/sass/mixins";
@import "src/common/styles/sass/variables";

.skillsBlock {
    background-color: $bgSecondary;
    min-height: 100vh;
    .skillsContainer {
        @include container();
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .skills {
            margin-bottom: 170px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media screen and (max-width: 1129px){
                justify-content: center;
            }
        }
    }
}

