@import "src/common/styles/sass/variables";

.nav {
    display: flex;
    width: 400px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    a {
        text-decoration: none;
        text-transform: uppercase;
        color: $textColor;
        opacity: 1;
        cursor: pointer;
    }
    a.active {
        color: $primaryColor;
    }
}


