@import "src/common/styles/sass/variables";

.remoteBlock {
    background-color: darkgray;
    .circle {
        height: 80vh;
        background-image: url('../../assets/emile-perron-xrVDYZRGdw4-unsplash.jpg');
        background-attachment: fixed;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .text {
            background: #fff;
            width: 260px;
            height: 260px;
            border-radius: 100%;
            margin: 0 auto;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 40px;
                height: 40px;
                background-color: #fff;
                left: 6px;
                top: 52px;
            }
            h2 {
                position: absolute;
                left: 0;
                top: 35%;
                width: 100%;
                text-align: center;
                color: $mainColor;
                font-size: 20px;
                line-height: 26px;
                letter-spacing: 0;
            }
        }
        .email {
            margin-top: 25px;
            h3 a {
                color: #fafafa;
                font-weight: 500;
                font-size: 16px;
                text-decoration: none;
            }
        }
    }
}



