@import "src/common/styles/sass/mixins";

.footerBlock {
    background-color: olive;
}
.footerContainer {
    @include container();
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .socialNet {
        border: 1px dashed;
        width: 250px;
        display: flex;
        justify-content: space-between;
        img {
            width: 50px;
            cursor: pointer;
            border-radius: 10px;
        }
    }
}
