@import "src/common/styles/sass/mixins";
@import "src/common/styles/sass/variables";

.footerBlock {
    background-color: $bgSecondary;
    .footerContainer {
        @include container();
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        a{
            text-decoration: none;
            h2{
                font-size: 22px;
                color: $textColor;
                font-family: $TitleFontFamily;
                letter-spacing: 3px;
                font-weight: 700;
                margin-bottom: 20px;
            }
        }
        .socialNet {
            width: 400px;
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            @media screen and(max-width: 505px){
                width: 100%;
            }
        }
        span {
            margin-top: 40px;
            @include text($TextFontFamily, 1.8, 14px, $textColor);
            opacity: .3;
        }
    }
}

