@import "variables";

@mixin text ($fontFamily, $line-height, $fontSize, $color) {
  font-family: $fontFamily;
  letter-spacing: 1px;
  font-size: $fontSize;
  line-height: $line-height;
  color: $color;
}

@mixin imgCenter () {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin flexCenter () {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin container () {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}